* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
}

.container-blocks {
  max-width: 1110px;
  margin: 30px auto;
}

.parcel-input {
  max-width: 840px;
  display: flex;
  margin: 24px auto;
}

.parcel-input input {
  background: #FFFFFF;
  border: 1px solid #E6E6E6;
  border-radius: 4px 0 0 4px;
  height: 40px;
  border-right-color: transparent;
  flex: auto;
  padding: 0 24px 0 24px;
  outline: none;
  font-family: inherit;
}

.parcel-input input::placeholder {
  color: #E6E6E6;
  font-weight: 300;
  font-size: 12px;
}

.parcel-input button {
  width: 200px;
  font-family: inherit;
  border: none;
  background: #EA3323;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  margin-left: -5px;
  cursor: pointer;
  border-radius: 4px;
}

.caption {
  text-align: center;
}

.caption h1 {
  margin-top: 22px;
  font-weight: 700;
  font-size: 32px;
  color: #2252C1;
}

.caption p {
  margin-top: 32px;
  font-size: 12px;
  font-weight: 700;
}

.caption p span {
  color: #2252C1;
}

.parcel-input-loading img {
  width: 26px;
}

.parcel-input button:disabled {
  background: #E6E6E6;
}

.content-loading {
  margin-top: 24px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.content-loading h2 {
  color: #111827;
  font-weight: 400;
  font-size: 24px;
}

.content-loading img {
  margin-top: 24px;
  width: 26px;
  filter: invert(37%) sepia(93%) saturate(7471%) hue-rotate(356deg) brightness(91%) contrast(135%);
}

.parcel-input .wrong {
  border-color: #EA3323;
}

/* Delivery */

.delivery {
  margin-top: 24px;
  margin-bottom: 24px;
}

.section-title {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.delivery__data {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 12px;
  margin-top: 24px;
}

.delivery__data-item {
  width: 100%;
  height: 220px;
  border: 1px solid #E6E6E6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.delivery__data-item img {
  width: 80px;
}

.delivery__data-item h3 {
  font-weight: 400;
  font-size: 14px;
  margin-top: 15px;
}

.delivery__data-item button {
  width: 200px;
  height: 40px;
  background: #EA3323;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 700;
  font-family: inherit;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 15px;
}

.delivery-all {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;
}

.delivery-all button {
  background: transparent;
  border: none;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

.delivery-all button svg {
  margin-left: 12px;
}

/* Not found */

.not-found {
  margin-top: 24px;
  text-align: center;
}

.section-id {
  font-weight: 700;
  font-size: 18px;
  margin-top: 24px;
  text-align: center;
}

.not-found p {
  font-weight: 400;
  font-size: 16px;
  margin-top: 24px;
}

.not-found-icon {
  width: 64px;
  height: 64px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #EA3323;
  margin: 24px auto;
}

.not-found-icon svg {
  width: 24px;
}

/* Tracking */

.tracking-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.tracking-header .parcel-input {
  flex: auto;
  margin-left: 50px;
  margin: 0px;
}

.tracking__progress {
  margin: 40px auto;
  max-width: 615px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 70px;
}

.tracking__progress-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.tracking__progress-icon div {
  background: #E6E6E6;
  border-radius: 100px;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tracking__progress-icon h2 {
  font-size: 14px;
  font-weight: 700;
  margin-top: 12px;
  text-align: center;
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.tracking__progress-icon svg {
  width: 24px;
}

.tracking__progress-tube {
  height: 64px;
  flex: 1;
  display: flex;
  align-items: center;
}

.tracking__progress-tube {
  width: 100%;
  background: #E6E6E6;
  height: 6px;
}

.tracking__progress-icon.order div {
  background: #2350EC;
}

.tracking__progress-tube.order {
  background: linear-gradient(90deg, #2350EC 0%, #EA3323 100%);
}

.tracking__progress-icon.transit div {
  background: #EA3323;
}

.tracking__progress-tube.transit {
  background: #2350EC;
}

.tracking__progress-tube.completed { 
  background: linear-gradient(90deg, #2252C1 -3.43%, #81ED0C 103.68%);
}

.tracking__progress-icon.completed div {
  background: #81ED0C;
}

/* Tracking places */

.tracking__places {
  border-top: 1px solid #E6E6E6;
  width: 100%;
}

.tracking__places-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #E6E6E6;
  border-left-width: 0px;
  border-right-width: 0px;
}

.tracking__places-date {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
  border-right-width: 0px;
}

.tracking__places-content {
  flex: 3;
  border-left-width: 0px;
  padding: 20px;
}

.tracking__places-date h3 {
  text-align: right;
  color: #6D6D6D;
  font-size: 15px;
  font-weight: 300;
}

.tracking__places-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tracking__places-content img {
  width: 40px;
}

.tracking__places-content h3 {
  color: #6D6D6D;
  font-weight: 500;
  font-size: 15px;
}

.tracking__places-content h3 span {
  font-weight: 300;
  font-size: 12px;
}

.tracking__places-circle {
  width: 25px;
  height: 25px;
  z-index: 2;
  border-radius: 100%;
  border: 7px solid #E6E6E6;
  background: #fff;
}

.tracking__wrap-circle {
  position: relative;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tracking__wrap-circle .divider {
  width: 1px;
  height: 100%;
  background: #E6E6E6;
  position: absolute;
  z-index: 1;
}

.tracking__places-item:first-of-type .divider {
  height: 50%;
  bottom: 0;
}

.tracking__places-item:last-of-type .divider {
  height: 50%;
  top: 0;
}

.tracking__places-item.active .tracking__places-date h3 {
  color: #000; 
}

.tracking__places-item.active .tracking__places-content h3 {
  color: #000; 
}

.tracking__places-item.active .tracking__places-circle {
  border: 7px solid #EA3323;
}